name: Linting and testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  packages: read

jobs:
  lint:
    name: Linting with `pre-commit`
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      - name: Set up Python for `pre-commit`
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065  # v5.6.0
        with:
          cache: 'pip'
          cache-dependency-path: '.github/workflows/on-push.yml'
          python-version: '3.13'
      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd  # v3.0.1

  render:
    name: Compile templates with Typst ${{ matrix.typst-version }}
    runs-on: 'ubuntu-latest'
    container:
      image: 'ghcr.io/daskol/typst-templates'
    strategy:
      matrix:
        typst-version:
          - '0.12.0'
          - '0.13.0'
          - '0.13.1'
          - '0.14.0'
          - '0.14.1'
          - '0.14.2'
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      - name: Compile all
        run: .github/scripts/render-templates.sh '${{ matrix.typst-version }}'
